<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% if output == 1 %}
        <p>True</p>
        {%endif%}
        {% if output == 0 %}
        <p>False</p>
        {%endif%}
    </body>
</html>
