<!DOCTYPE html>
<html>
    <head>
        <title>Queen Attack</title>
    </head>
    <body>
        <form class="" action="/move-input" method="post">
            <label for="queen-x-pos">Queen X Position</label>
            <select name="queen-x-pos">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
          </select> <br>
            <label for="queen-y-pos">Queen Y Position</label>
            <select name="queen-y-pos">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
          </select> <br>
            <label for="opponent-x-pos">Opponent X Position</label>
            <select name="opponent-x-pos">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
          </select> <br>
            <label for="opponent-y-pos">Opponent Y Position</label>
            <select name="opponent-y-pos">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
          </select> <br>
            <button type="submit" name="submit-button">Enter</button>
        </form>
    </body>
</html>
